body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    h1 {
        text-align: center;
    }

    .chart {
        max-width: 600px;
        border: 2px solid black;
        border-radius: 10px;
        padding: 15px;
    }
}